:root {
    --colors-dark-blue: #172339;
    --colors-gray-blue: #49566d;
    --colors-cream: #f3ede7;
    --colors-cream-white: #faf8f6;
    --colors-purple: #a060ff;
    --colors-violet: #cb30e3;
    --colors-orange: #ffa84e;
  }
  