*,
::before,
::after {
  margin: 0; // Remove all default margin and padding form each object.
  padding: 0;
  border: none;
  background: transparent;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
}
hr {
  height: 0;
  box-sizing: content-box;
  border-top: 1px solid;
  border-color: inherit;
  overflow: visible; // Show the overflow in Edge and IE.
}
ul,
ol {
  list-style: none;
}
a,
picture {
  display: inline-block;
}
a,
abbr[title] {
  text-decoration: none;
}
a,
button {
  color: inherit;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
button,
select {
  // Remove the inheritance of text transform in Edge, Firefox, and IE.
  text-transform: none;
}
main,
details,
template {
  display: block;
}
[heddin] {
  display: none;
}
summary {
  display: list-item;
}
