<!DOCTYPE html>
<html lang="en">

<head>
   <!-- specifies the character encoding for the HTML document -->
   <meta charset="UTF-8">
   <!-- Displays site properly based on user's device -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Provides a brief summary of a web page -->
   <meta name="description" content="This is a solution to Suite landing page challenge on Frontend Mentor. 
        The purpose of this challenge is to improve my coding skills by building realistic projects.">
   <title>Suite landing page | Frontend Mentor</title>
</head>

<body></body>

</html>